@import "../styles/globals.css";

@layer base {
  html {
    min-width: 320px;
    min-height: 100%;
    font-family: "DM Sans", Arial, sans-serif;
  }

  body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    background: #f5f7f8;
  }

  button,
  input,
  select {
    font: inherit;
  }
}
